.TransactionContainer {
    margin: .5rem;
    padding: 1.5rem;
    background-color: white;
    border-radius: .8rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);

    .heading {
        align-items: center;
        display: flex;
    }

    .servicesList {
        display: grid;
        grid-template-columns: repeat(3 , 1fr);

        .service {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: 1.5rem .7rem;
            .title {
                display: flex;
                gap: 1rem;
            }

            p {
                margin-left: 2rem;
                font-size: .8rem;
            }
        }
    }

}