.allEventsBox {
    .ViewBodyMain {
        width: 100%;
        margin: 1rem 0;
        padding: 1rem;
        border-radius: .8rem;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width:800px) {
            flex-direction: column-reverse;
        }

        .Events {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 1rem;

            @media screen and (max-width:800px) {
                width: 100%;
            }

            .lableName {
                margin-top: 1rem;
            }

            .eventInput {

                width: 100%;
                min-width: 10rem;
                height: 52px;
                padding: 12px !important;
                background: white;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                border-radius: 9px;
                border: transparent;
                gap: 0.3rem;

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px white inset !important;
                }

                input {
                    background-color: inherit;

                }

                &:hover {
                    border-color: var(--themeColorGreen);
                }
            }

            .eventDescription {
                width: 100%;
                min-width: 10rem;
                height: 5rem;
                padding: 12px !important;
                background: white;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                border-radius: 9px;
                border: transparent;
                gap: 0.3rem;

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px white inset !important;
                }

                input {
                    background-color: inherit;

                }

                &:hover {
                    border-color: var(--themeColorGreen);
                }

            }

            .BtnReadMore {
                display: flex;
                justify-content: flex-end;
                margin-top: 1rem;

                .readMoreBtn {
                    display: flex;
                    justify-content: flex-end;
                    background-color: var(--themeColor);

                }

                .ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
                    color: var(--dark);
                }
            }

        }

        .CalenderMain {
            .css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
                background-color: var(--themeColor) !important;
            }

            .MuiDateCalendar-root {
                @media screen and (max-width:500px) {
                    width: inherit !important;
                }
            }

            .MuiPickersDay-today {
                @media screen and (max-width:500px) {
                    border: none;
                }
            }

            .MuiPickersDay-today {
                @media screen and (max-width:500px) {
                    color: red;
                }
            }
        }
    }
}