@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
/* ************ Reset Css  ************** */

* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: auto;
    font-family: 'Montserrat Alternates', sans-serif;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--pageBackgroundColor);
}

/* ************ Css Variables ************** */

:root {
    --light: #fff;
    --dark: #5E9894;
    --themeColor: #5E9894;
    --themeColorGreen: #00A859;
    --themeColorGreenGradient: linear-gradient(96.93deg, #02C464 0%, #84F96A 100%);
    --themeBackGreenGradient: linear-gradient(274.64deg, #02A800 5.4%, #1AD56C 94.36%);
    --themeBackRedGradient: linear-gradient(275.12deg, #B40901 5.38%, #FB4B4D 94%);
    --themeBackYellowGradient: linear-gradient(274.64deg, #FDBD21 5.4%, #FFD901 94.36%);
    --themeBackGreenBoxShadow: 0px 2px 4px rgba(25, 211, 105, 0.8);
    --themeBackRedBoxShadow: 0px 2px 4px rgba(239, 64, 64, 0.8);
    --themeBackYellowBoxShadow: 0px 2px 4px rgba(255, 214, 3, 0.5);
    --themeColorYellowLight: #fff5c9;
    --themeColorDark: #282C35;
    --themeColorDarkIcon: #A9A9A9;
    --pageBackgroundColor: #F3F9FD;
    --radius: 0.375rem;
    --border: rgba(0, 0, 0, 0.3);
    // --danger: #FF1E1E;
    --danger: #D73A3A;
    --dangerGradient: linear-gradient(276.38deg, #FB5F53 7.35%, #BE2F5D 71.62%);


    --primaryColor: var(--themeColor);
    --primaryTextColor: var(--dark);

    --secondaryColor: var(--themeColorDark);
    --secondaryIconColor: var(--themeColorDarkIcon);
    --secondaryTextColor: var(--light);
}

/* ************ SCSS Variables ************** */
%GreenButton {
    max-height: 40px;
    height: 40px;
    width: 100%;
    background: #00A859;
    padding: 20px 35px;
    color: #fff;
    border-radius: var(--radius);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    &:hover {
        // color: var(--themeColor) !important;
        color: #fff;
        background-color: black;
        min-height: 40px;
        box-shadow: 0px 15px 20px rgba(1, 1, 1, .2) !important;
        transform: translateY(-7px);
    }
}

%YellowButton {
    max-height: 40px;
    height: 40px;
    width: 100%;
    background: var(--primaryTextColor);
    padding: 20px 35px;
    color: white;
    border-radius: var(--radius);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;

    &:hover {
        // color: var(--themeColor) !important;
        color: #fff;
        background-color: black;
        min-height: 40px;
        box-shadow: 0px 15px 20px rgba(1, 1, 1, .2) !important;
        transform: translateY(-7px);
    }
}

%DashboardButton {
    max-height: 30px;
    height: 30px;
    width: 100%;
    padding: 20px 35px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    background-color: #5E9894;
    min-height: 40px;
    box-shadow: 0px 8px 15px rgba(1, 1, 1, .1) !important;
    transition: all 0.3s ease 0s;


    &:hover {
        // color: var(--themeColor) !important;
        color: #fff;
        background-color: black;
        min-height: 40px;
        box-shadow: 0px 15px 20px rgba(1, 1, 1, .2) !important;
        transform: translateY(-7px);
    }

}

.logoutBtn {
    max-height: 30px;
    height: 30px;
    width: 75%;
    align-self: center;
    gap: .5rem;
    padding: 20px 35px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    background-color: #82ABA8;
    min-height: 40px;
    box-shadow: 0px 8px 15px rgba(1, 1, 1, .1) !important;
    transition: all 0.1s ease 0s;


    &:hover {
        // color: var(--themeColor) !important;
        color: #fff;
        background-color: black;
        min-height: 40px;
        box-shadow: 0px 15px 20px rgba(1, 1, 1, .2) !important;
        transform: translateY(-7px);
    }
}

.sideBarTrigger {
    position: absolute;
    right: -18px;
    bottom: 75px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    background-color: #82ABA8;
    box-shadow: 0px 8px 15px rgba(1, 1, 1, .1) !important;
    transition: all 0.3s ease 0s;
    z-index: 99999;

    &:hover {
        // color: var(--themeColor) !important;
        color: #fff;
        background-color: black;
        box-shadow: 0px 15px 20px rgba(1, 1, 1, .2) !important;
    }
}

/* ************ Custom  ScrollBar ************** */

.errorMessage {
    color: red;
}

::-webkit-scrollbar {
    width: 5px;
    // display: none;
}

::-webkit-scrollbar-track {
    border-radius: 10px !important;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    margin-top: 1rem;
    border-radius: 10px !important;
    background: black;
}

/* ************ Input placeholder ************** */
::placeholder {
    color: var(--border) !important;
    /* Firefox */
}

:-ms-input-placeholder {
    color: var(--border) !important;
    /* Internet Explorer 10-11 */
}

::-ms-input-placeholder {
    color: var(--border) !important;
    /* Microsoft Edge */
}

/* ************ Custom Classes ************** */

.container {
    max-width: 1400px;
    margin: 0 auto;

    @media screen and (max-width:"1450px") {
        max-width: 1050px;
    }

    @media screen and (max-width:"1100px") {
        margin: 0 20px;
    }
}

.lableName {
    padding: 0.5rem 3px;
    font-size: 14px;
    font-weight: 400;
    color: var(--dark);
}

.cursor {
    cursor: pointer;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.3);

}

input {
    accent-color: var(--themeColorGreen);
}

.inputMain {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    gap: 1rem;
    width: 100%;

    .inputFields {
        gap: 2rem;
        display: flex;
        width: 100%;

        .field {
            display: flex;
            width: 100%;
            display: flex;
            flex-direction: column;

            .lableName {
                padding: 0.5rem 3px;
                font-size: 14px;
                font-weight: 400;
            }

            .inputselect {
                width: 100%;
                min-width: 10rem;
                height: 71px;
                padding: 12px !important;
                background: white;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                border-radius: 9px;
                gap: 0.3rem;
                display: flex;
                align-items: center;
            }

            .selector {
                border: transparent;
                box-shadow: none;
                display: flex;
                width: 100%;

            }

            .selecticon {
                padding-left: 0.3rem;
            }

            .ant-select-selector {
                border: none;
                display: flex;
                justify-content: center;
                font-size: 1rem;
                display: flex;
                align-items: center;
                height: -webkit-fill-available;
                scroll-behavior: smooth;
                padding: 0 0.3rem;
            }

            .input {
                width: 100%;
                min-width: 10rem;
                height: 71px;
                padding: 12px !important;
                background: white;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                border-radius: 9px;
                gap: 0.3rem;

                input:-webkit-autofill,
                input:-webkit-autofill:hover,
                input:-webkit-autofill:focus,
                input:-webkit-autofill:active {
                    -webkit-box-shadow: 0 0 0 30px white inset !important;
                }

            }

            .textarea {
                padding: 1rem;
                width: 100%;
                min-width: 10rem;
                background: white;
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
                border-radius: 9px;
                border: transparent;
            }
        }
    }

    .yellowGraBtn {
        min-width: 9rem;
        display: flex;
        align-self: flex-end;
    }
}

.greenButton {
    @extend %GreenButton
}


// Flex Properties
.flexLineSpace {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.flexLine {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    input {
        width: 100%;
    }
}

// ProgressBox
.progreesBox {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .progress {
        color: var(--themeColor) !important;
        height: 30px !important;
        width: 30px !important;
    }
}

// page headings's css
.heading {
    color: var(--primaryTextColor);
    font-size: 1.7rem;
    font-weight: 600;

    @media screen and (max-width:500px) {
        font-size: 18px;
    }
}

.subHeading {
    color: var(--primaryTextColor);
    font-size: 1.3rem;
    font-weight: 600;
}

// Buttons
.greenBtn {
    max-height: 40px;
    height: 40px;
    min-width: 20px;
    width: 100%;
    background: var(--themeColorGreen);
    padding: 20px 35px;
    color: #fff;
    border-radius: var(--radius);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
}

.greenGradientBtn {
    max-height: 40px;
    height: 40px;
    min-width: 20px;
    width: 100%;
    background: var(--themeBackGreenGradient);
    box-shadow: var(--themeBackGreenBoxShadow);
    padding: 20px 35px;
    color: #fff;
    border-radius: var(--radius);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
}

.redGradientBtn {
    max-height: 40px;
    height: 40px;
    min-width: 20px;
    width: 100%;
    background: var(--themeBackRedGradient);
    box-shadow: var(--themeBackRedBoxShadow);
    padding: 20px 35px;
    color: #fff;
    border-radius: var(--radius);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    gap: 1rem;

    .CommonBtnBlog {
        height: 16px;
        width: 15px
    }
}

.yellowBtn {
    @extend %YellowButton;
}

.yellowGraBtn {
    @extend %YellowButton;
    background: #5E9894;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.1);
    border-radius: 76px;
}

.dashboardBtn {
    @extend %DashboardButton;
}

.upper {
    text-transform: uppercase;
}

.dashboardHeading {
    height: 70px;
    position: sticky;
    background-color: var(--pageBackgroundColor);
    width: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    top: -25px;
}

/* ************ ANT-Design ************** */
// ANT-D Input
.ant-input {
    border-color: var(--border);


}

.ant-input-status-error {
    border-color: #ff4d4f !important;

    &:hover {
        border-color: #ff4d4f !important;
    }
}

.ant-input-affix-wrapper {
    padding: 9px 20px !important;
    border-radius: var(--radius);
    border: 1px solid var(--border);

    &:hover {
        border-color: var(--themeColor) !important;
    }
}

.ant-input-affix-wrapper-focused {
    box-shadow: none;
}

.ant-input:focus {
    box-shadow: none;
}

// ANT-D Selector
.ant-select-single {
    font-size: 14px !important;
    width: 100% !important;
}

.ant-select-selector {
    width: 100%;
    height: 42px;
    padding: 5px 20px;
    box-shadow: none;
    border-radius: var(--radius);
    border: 1px solid var(--border);

    &:hover {
        border-color: var(--themeColor) !important;
    }
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: var(--lightYellow) !important;
}

// ANT-D Switch
.ant-switch.ant-switch-checked {
    background-color: var(--themeColor) !important;
}

// ANT-D TAGS :
.userTags {
    // width: 85px;
    text-align: center;
    font-size: .65rem;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10rem;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    font-weight: 600;
}

// ANT-D Date picker
.ant-picker {
    border: 1px solid var(--border);

}

// ANT-D popover
.antPopover {
    display: flex;
    flex-direction: column;
    gap: .5rem;


    .popoverItem {
        display: flex;
        color: #000000;
        gap: 0.4rem;
        border-radius: 5px;
        padding: 5px;
        align-items: center;
        cursor: pointer;

        .icon {
            height: 18px;
            width: 18px;
        }

        &:hover {
            background: rgb(221, 221, 221);
        }
    }

    .border {
        border-top: 1px solid rgb(139, 139, 139);
    }

}


// ANT Button
// .ant-btn-default:not(:disabled):hover {
//     color: #fff;
//     border-color: var(--themeColorGreen);
// }


// ANT-D Image Viewer
.imgViewer {
    height: 143px;
    width: 146px;
    display: flex;
    padding: .1rem;
    border-radius: .3rem;
    border: 1px dashed var(--themeColor);

    .ant-image {
        border-radius: .3rem;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.ant-upload {
    border-radius: 50rem !important;
    height: 130px !important;
    width: 130px !important;
    border-radius: 8px;
    padding: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .imgBox {
        width: 100%;
        height: 100%;
        border-radius: 50rem;
        overflow: hidden;
        padding: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
        }
    }

}

.ant-upload:has(.imgBox) {
    border: none !important;
}

// ANT-D table 
.table {
    padding: 1rem .3rem;
    overflow: scroll;


    .avaterBox {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50rem;
        overflow: hidden;
        background-color: var(--pageBackgroundColor);
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .actionBox {
        display: flex;
        gap: 1.5rem;
        justify-content: center;

        .actionBtn {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            transform: scale(1);
            transition: all .1s;

            &:hover {
                transform: scale(1.25);

                .icon {
                    color: #000000 !important;
                }
            }
        }

        .icon {
            font-size: 20px;
            color: black;
        }
    }


    .ant-table-content {
        table {
            border-spacing: 0 .5rem;
            background-color: var(--pageBackgroundColor);
        }
    }

    // row hover bg color 
    .ant-table-thead>tr {
        border-radius: 1rem;
        background: #5E9894;
        color: white;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);

        td {
            &:first-child {
                border-radius: 8px !important;
            }

            &:last-child {
                border-radius: 8px !important;
            }
        }

        .ant-table-column-has-sorters {
            .ant-table-column-sorter-inner {
                .active {
                    color: #0A1C29;
                }
            }

            &:hover {
                background: none;
            }

            background: none;
        }

    }

    .ant-table-thead>tr>th {
        border: none;
        background-color: transparent;
        color: white;
        height: 63px;

        &::before {
            content: none !important;
            border-color: transparent;
        }

    }

    .ant-table-column-sorters {
        justify-content: unset;

        .ant-table-column-title {
            flex: none;
        }
    }

    .ant-table-tbody {
        background-color: var(--pageBackgroundColor);

        tr {
            border-radius: 8px;
            box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);

            td {
                background-color: white;

                &:first-child {
                    border-radius: 8px 0 0 8px;
                }

                &:last-child {
                    border-radius: 0 8px 8px 0;
                }
            }
        }
    }

    // search field || button
    .custom-table .ant-input-search-button {
        background-color: var(--themeColor) !important;
        color: var(--themeColorGreen) !important;
        height: 35px !important;
    }

    .custom-table .ant-input-affix-wrapper {
        border: 1px solid var(--border) !important;
        border-radius: 5px !important;
        height: 35px !important;
        padding: 0px 10px !important;
        flex-grow: 1 !important;
    }

    .ant-input-affix-wrapper:focus,
    .ant-input-affix-wrapper-focused {
        box-shadow: 0 0 0 2px #0064001f;
    }

    // row hover bg color 
    .ant-table-cell-row-hover {
        cursor: pointer;
        background-color: #EDEDED !important;
        color: #101010;

        .actionBtn {
            .icon {
                color: var(--primaryTextColor);
            }
        }
    }



    // pagination button 
    .ant-pagination .ant-pagination-item-active a {
        color: var(--primaryTextColor);

    }

    .ant-pagination-item-active {
        border-color: var(--primaryColor);

        &:hover {
            border-color: var(--primaryColor);
        }
    }

    td.ant-table-column-sort {
        background-color: unset;
    }

    .noRole {
        color: var(--danger);

        &:hover {
            color: white;

            .icon {
                color: var(--primaryTextColor);
            }
        }


        .ant-table-cell-row-hover {
            background-color: #D73A3A !important;
            color: white;
        }
    }
}

.ant-input-affix-wrapper-lg {
    border: transparent;
}

// ANT-D Modals :
.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    background-color: var(--themeColor) !important;
    border-color: var(--themeColor) !important;
}

.ant-radio-wrapper:hover .ant-radio-inner {
    border-color: var(--themeColor);
}

.ant-radio:hover .ant-radio-inner {
    border-color: var(--themeColor) !important;
}

.ant-radio-input:focus .ant-radio-inner {
    border-color: var(--themeColor) !important;
}

.radioMain {
    border-color: var(--themeColor) !important;
}

.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: white;
}

.ant-image-preview-root .ant-image-preview-mask {
    background-color: rgba(0, 0, 0, 0.85);
}

.ant-modal {

    .deleteModel {
        display: flex;

        .titleBox {
            display: flex;
            gap: .5rem;
            align-items: center;
            font-size: 1rem;

            .icon {
                color: red;
                font-size: 1.5rem;
            }
        }
    }

    .ant-modal-footer {
        display: flex;
        justify-content: end;

        .ant-btn {
            background: var(--themeBackGreenGradient);
            box-shadow: var(--themeBackGreenBoxShadow);
            width: 100px;
            color: white;
            border: transparent;
            font-size: small;

            &:nth-child(2) {
                background: var(--themeBackRedGradient);
                box-shadow: var(--themeBackRedBoxShadow);
                border: none;
            }
        }
    }
}

.ant-menu-light .ant-menu-submenu-selected>.ant-menu-submenu-title,
.ant-menu-light>.ant-menu .ant-menu-submenu-selected>.ant-menu-submenu-title {
    color: white;
    font-size: 1.1rem;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):hover {
    background-color: transparent;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active,
.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
    background-color: transparent;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:active,
.ant-menu-light>.ant-menu:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
    background-color: transparent;

}