.walletContainer {
    .ViewBodyMain {
        margin: 2rem 0;
        padding: 1.5rem;
        background-color: white;
        border-radius: .8rem;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.301);
        // display: flex;
        // justify-content: space-between;

        @media screen and (max-width:800px) {
            flex-direction: column-reverse;
        }

        .teacherAmount {
            width: 100%;
            background-color: var(--themeColor);
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            @media screen and (max-width:500px) {
                display: block
            }

            .column {
                text-align: center;
                flex: 1;
                margin: 10px;
                padding: 15px;
                position: relative;

            }

            .ant-divider-vertical {
                position: relative;
                top: 2.94em;
                display: inline-block;
                height: 3.9em;
                margin: 0 8px;
                vertical-align: middle;
                border-top: 0;
                border-inline-start: 1px solid black;

                @media screen and (max-width:500px) {
                    display: none
                }
            }
        }

        .transitionHistory {
            padding-top: 2rem;
            height: 100%;
            width: 100%;

            .transitionGraph {
                padding: 34px 20px 10px 20px;

                .chart {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 300px;
                }
            }

        }

        .recordTable {
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 1.5rem;


            @media screen and (max-width:1200px) {
                grid-template-columns: 1fr;
                display: block;
                max-width: 100%;
            }

            .ant-row {
                flex-direction: row;
            }

            .balanceCard {
                padding-top: 3rem;
                // width: 300px;
                // min-height: 235px;
                // padding-left: 6rem;

                @media screen and (max-width:768px) {
                    width: 100%;
                    // min-height: 235px;
                }

                .ant-card {
                    background: var(--themeBackYellowGradient);
                }

                .balanceHeading {
                    color: white;
                }

                .activeBalance {
                    color: var(--themeColorYellowLight);
                }

                .detailDiv {
                    align-items: center;
                    display: flex;
                    justify-content: space-between;
                    color: white;
                }
            }
        }
    }

}